/* Importing Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playwrite+HU:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playwrite+HU&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
/* Header  */
header {
  background-color: #1f2937;
}
header nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
}
header nav .logo h1 {
  font-size: 24px;
  color: #f9faf8;
  font-family: "Playwrite HU", cursive;
  font-weight: bolder;
}
header nav ul {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}
header nav ul li a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}
header main {
  display: flex;
  justify-content: space-evenly;
}
header main .texts {
  width: 30%;
  padding: 20px;
}
header main .texts h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 6px;
}
header main .texts p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 6px;
}
header main .texts button {
  background-color: #3882f6;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  margin: 6px;
  color: #f9faf8;
}
header main .img {
  background-image: url(images/bugatti-chiron.png);
  width: 30%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Main  */
.main h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 52px;
}
.main .card-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
}
.main .card-container .card {
  width: 200px;
  text-align: center;
}
.main .card-container .card img {
  border: 2px solid #3882f6;
  padding: 12px;
  border-radius: 8px;
}
.main .card-container .card p {
  font-size: 12px;
  width: 180px;
  color: #5a626e;
}

/* Quets section  */
.quote {
  background-color: #e5e7eb;
  padding: 42px;
}
.quote h1 {
  font-size: 36px;
  font-weight: 200;
  color: #1f2937;
  margin: auto;
  width: 60%;
  padding: 22px;
}
.quote p {
  text-align: end;
  width: 70%;
  font-weight: bold;
  position: relative;
  bottom: 30px;
}
/* Card  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:42px;
}
.container .card {
  background-color: #3882f6;
  width: 70vw;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
.container .card h1 {
  color: #f9faf8;
  font-size: 20px;
}
.container .card p {
  font-size: 14px;
  color: #e5e7eb;
}
.container .card button {
  background-color: #3882f6;
  border: 1px solid #f9faf8;
  padding: 0px 38px;
  border-radius: 6px;
  color: #f9faf8;
  font-weight: 800;
}
/* Footer  */
footer{
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 12px;
    font-weight: 300;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
