/* Importing Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playwrite+HU:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playwrite+HU&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
/* Header  */
header{
    background-color: #1f2937;
}
header nav{
    display: flex;
    justify-content: space-around;
}
header nav .logo h1{
    font-size: 24px;
    color: #f9faf8;
    font-family:"Playwrite HU", cursive ;
    font-weight: bolder;
}
header nav ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
header nav ul li a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}
header main{
    display: flex;
    justify-content: space-around;
}
header main .texts h1{
    font-size: 48px;

}
header main .img{
    background-image: url(images/header-main.png);
    width: 200px;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}